<html>
<head>
   <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/angular.min.js"></script>
<script src="../../static/js/angular-route.js">
</script>
</head>
    <body>
     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#statsview">DMange</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#staffhomeview">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="#viewcourses">Courses</a></li>
    <li><a href="#viewstudents">Students</a></li>
    <li><a href="#viewfaculties">Faculty</a></li>
    <li><a href="#viewdepartments">Departments</a></li>
    <li><a href="#viewstaffs">Staff</a></li>
    
        </ul>
      </li>
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Add <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="#addcourse">Course</a></li>    
    <li><a href="#addstudent">Student</a></li>
    <li><a href="#addfaculty">Faculty</a></li>
    <li><a href="#adddepartment">Departments</a></li>
    <li><a href="#addstaff">Staff</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Registered Coures<span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="#regcoursewise">Coursewise</a></li>    
         <li><a href="#regstudentwise">Studentwise</a></li>
        <li><a href="#regfacultywise">Faculty based</a></li>
        <li><a href="#regdepartmentwise">Department based</a></li>
        </ul>
      </li>
    
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="logout">Logout</a></li>   
         <li><a href="#editprofilestaff">Edit Profile</a></li>
          </ul>
        </li>
    
     
    </ul>
  </div>
</nav>   
    
    <div ng-app="staffpage">
   
    <div class="col-md-12">
    
     
      {% verbatim %}
        
    
    
    <div ng-view></div>
    
       <script>    
        var app = angular.module("staffpage", ['ngRoute']);
app.config(function($routeProvider) {
    $routeProvider
    .when("/viewcourses", {
        templateUrl : "staff_course_partial_view",
        controller:'CourseController'
    }).when("/viewstudents", {
        templateUrl : "staff_student_partial_view",
         controller:'StudentController'
    }).when("/viewfaculties", {
        templateUrl : "staff_faculty_partial_view",
        controller:'FacultyController'
    }).when("/viewdepartments", {
        templateUrl : "staff_department_partial_view",
        controller:'DepartmentController'
    }).when("/viewstaffs", {
        templateUrl : "staff_staff_partial_view",
        controller:'StaffController'
    
    }).when("/addstudent",{
        templateUrl:"staff_student_input_form"    
    }).when("/addcourse",{
        templateUrl:"staff_course_input_form"    
    }).when("/addfaculty",{
        templateUrl:"staff_faculty_input_form"    
    }).when("/adddepartment",{
        templateUrl:"staff_department_input_form"    
    }).when("/addstaff",{
        templateUrl:"staff_staff_input_form"    
    }).when("/editprofilestaff",{
        templateUrl:"staff_edit_profile",
        controller:"staffEditProfileController"
    }).when("/statsview",{
        templateUrl:"staff_stats_view_partial"
    }).when("/staffhomeview",{
        templateUrl:"staff_home_view"
    
    
    }).when("/editprofilestaff",{
      templateUrl:"staff_edit_profile"  
   
    }).when("/regcoursewise",{
        templateUrl:"staff_regcourse_partial_view"
    }).when("/regstudentwise",{
        templateUrl:"staff_regcoursestudent_partial_view",
        controller:"RegStudentController"
    }).when("/regfacultywise",{
        templateUrl:"staff_regcoursefaculty_partial_view",
        controller:"RegFacultyController"
    }).when("/regdepartmentwise",{
        templateUrl:"staff_regcoursedepartment_partial_view"
    })

    ;
}); 
app.controller('FacultyController', function($scope){
   $scope.searchlabel="Search Faculties"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('StudentController', function($scope){
   $scope.searchlabel="Search Students"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('CourseController', function($scope){
   $scope.searchlabel="Search Courses"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('DepartmentController', function($scope){
   $scope.searchlabel="Search Departments"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('StaffController', function($scope){
   $scope.searchlabel="Search Staff"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller("staffEditProfileController", function($scope){
   $scope.headerwarning = "Edit Profile"; 
});
app.controller("RegStudentController", function($scope, $http)
{
    
$scope.getStudentInfo = function()
{
    $http.get('staff_regcoursedepartment_partial_courseview?rollnumber='+$scope.rollnumber).then( function(response)
    {
        $scope.regcourses = response.data;
       $scope.regcourselists = [];

       angular.forEach(response.data, function(data1)
       {
           angular.forEach(data1, function(value,key){
               if(key=="list")
               {
                   $scope.regcourselists.push(value);
               }
               if(key=="studentname")
               {
                   $scope.studenname = value;
               }
               if($scope.regcourselists.length==0)
               {
                   $scope.showtag=true;
               }
               
           });
       });
        $scope.isVisible  = function(name){
          return false;
        };
    });  
};
});
app.controller("RegFacultyController", function($scope, $http)
{
    $scope.isValue=false;
     $scope.regfacultylists=[];
    $scope.getFacultyInfo = function()
    {
        $http.get('staff_regcoursefaculty_partial_courseview?fid='+$scope.faculty).then(function(response)
        {
             $scope.regfacultylists=response.data;
        });
        
    };
    $scope.isHidden = function()
        {
            if($scope.regfacultylists.length!=0)
            {
                return false;
            }
            else
            {
                return true;
            }       
        };
    
});
        </script>
   
    {%endverbatim%}  
        </div>
     <div class="col-md-12">
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         <div class="col-md-4">
        
    {% if studentsadded %}
             <div class="alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
     <p>{{studentsadded}} Student(s) added  successfully</p>
     </div>
    {%endif%}
           
     
    {% if coursesadded  %}
          <div class="panel panel-success" id="coursepanel">
  <div class="panel-heading">   
    {{coursesadded}} Course(s) added  successfully
       <button type="button" class="close" 
data-target="#coursepanel" 
data-dismiss="alert">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
              </div>
         </div>
    {%endif%}
       
        
    {% if facultyadded %}
          <div class="panel panel-success">
  <div class="panel-heading">
    {{facultyadded}} Facultie(s) added  successfully
    <button type="button" class="close" 
data-target="#coursepanel" 
data-dismiss="alert">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
              </div>
         </div>
    {%endif%}
           
        
    {% if departmentsadded %}
          <div class="panel panel-success" id="departmentpanel">
  <div class="panel-heading">
    {{departmentsadded}} Department(s) added  successfully.
      <button type="button" class="close" 
data-target="#departmentpanel" 
data-dismiss="alert">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
       </div>
         </div>
    {%endif%}
            
        
    {% if staffadded %}
          <div class="panel panel-success" id="staffpanel">
  <div class="panel-heading">
    {{staffadded}} staff(s) added  successfully
      <button type="button" class="close" 
data-target="#staffpanel" 
data-dismiss="alert">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
         </div>
         </div>
    {%endif%}
    {% if staffedited %}
           
         <div class="panel panel-warning" id="facultypanel">
  <div class="panel-heading">
    {{staffedited}} staff profile edited successfully.
      <button type="button" class="close" 
data-target="#facultypanel" 
data-dismiss="alert">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
         </div>
         </div>
    {%endif%}         
        
    {% if facultydeleted %}
           
         <div class="panel panel-warning" id="facultypanel">
  <div class="panel-heading">
    {{facultydeleted}} staff with {{facultyid}} deleted  successfully.
      <button type="button" class="close" 
data-target="#facultypanel" 
data-dismiss="alert">
<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
         </div>
         </div>
    {%endif%}
          

        </div> 
</div>    
        
         </div>        
        </body>
<html>