<html>
<head>
   <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/angular.min.js"></script>
<script src="../../static/js/angular-route.js">
</script>
</head>
    <body>
     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">DMange</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">View <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="#viewcourses">Courses</a></li>
    <li><a href="#viewstudents">Students</a></li>
    <li><a href="#viewfaculties">Faculty</a></li>
    <li><a href="#viewdepartments">Departments</a></li>
    <li><a href="#viewstaffs">Staff</a></li>
        </ul>
      </li>
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Add <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="#addcourse">Course</a></li>    
    <li><a href="#addstudent">Student</a></li>
    <li><a href="#addfaculty">Faculty</a></li>
    <li><a href="#adddepartment">Departments</a></li>
    <li><a href="#addstaff">Staff</a></li>
        </ul>
      </li>
    
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="logout">Logout</a></li>       
          </ul>
        </li>
    
     
    </ul>
  </div>
</nav>    
        
    {% if studentsadded %}
    <p>{{studentsadded}} Student(s) added  successfully</p>
    {%endif%}
    {% if coursesadded  %}
    <p>{{coursesadded}} Course(s) added  successfully</p>
    {%endif%}
    {% if facultyadded %}
    <p>{{facultyadded}} Facultie(s) added  successfully</p>
    {%endif%}
    {% if departmentsadded %}
    <p>{{departmentsadded}} Department(s) added  successfully</p>
    {%endif%}
    {% if staffadded %}
    <p>{{staffadded}} staff(s) added  successfully</p>
    {%endif%}
    
    {% if facultydeleted %}
    <p>{{facultydeleted}} staff with {{facultyid}} deleted  successfully</p>
    {%endif%}
    
    <div ng-app="staffpage">
     {% verbatim %}

        
    <div ng-view></div>
       
        <script>
        
        var app = angular.module("staffpage", ['ngRoute']);
app.config(function($routeProvider) {
    $routeProvider
    .when("/viewcourses", {
        templateUrl : "staff_course_partial_view",
        controller:'CourseController'
    }).when("/viewstudents", {
        templateUrl : "staff_student_partial_view",
         controller:'StudentController'
    }).when("/viewfaculties", {
        templateUrl : "staff_faculty_partial_view",
        controller:'FacultyController'
    }).when("/viewdepartments", {
        templateUrl : "staff_department_partial_view",
        controller:'DepartmentController'
    }).when("/viewstaffs", {
        templateUrl : "staff_staff_partial_view",
        controller:'StaffController'
    
    }).when("/addstudent",{
        templateUrl:"staff_student_input_form"    
    }).when("/addcourse",{
        templateUrl:"staff_course_input_form"    
    }).when("/addfaculty",{
        templateUrl:"staff_faculty_input_form"    
    }).when("/adddepartment",{
        templateUrl:"staff_department_input_form"    
    }).when("/addstaff",{
        templateUrl:"staff_staff_input_form"    
    })
    ;
}); 
app.controller('FacultyController', function($scope){
   $scope.searchlabel="Search Faculties"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('StudentController', function($scope){
   $scope.searchlabel="Search Students"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('CourseController', function($scope){
   $scope.searchlabel="Search Courses"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('DepartmentController', function($scope){
   $scope.searchlabel="Search Departments"; 
    //$scope.facultylists = '{{fac2}}';
});
app.controller('StaffController', function($scope){
   $scope.searchlabel="Search Staff"; 
    //$scope.facultylists = '{{fac2}}';
});




        </script>
   
    {%endverbatim%}
         </div>
        
{%verbatim%}
 
    {%endverbatim%}        
        
        </body>
<html>