<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js">
</script>
<a href="logout">Logout</a>
    <p></p>
{{studentname}}
{% verbatim %}
<body ng-app="myApp">

For list of courses please click <a href="#courseview">here.</a>
   
<div ng-view></div>

<script>
 //   var django_variables = {};
//django_variables.djangoVar = {{ courselist }};
var app = angular.module("myApp", ['ngRoute']);
app.config(function($routeProvider) {
    $routeProvider
    .when("/", {
        templateUrl : "homeviews/partials/student_home_course_view_partial.htm",
    })
    .when("/courseview", {
        templateUrl : "student_course_partial_view",
        
    });
});
</script>
{% endverbatim %}
  
</body>
</html>
