
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{%url 'dmange_app:finish_course' %}" method="post">
{% csrf_token %}
<input type="text"  name="course_code" value="{{ course.course_code }}" />
<input type="text"  name="course_name" value="{{ course.course_name }}" />

    <select name="faculty_id" id="faculty_id">
        {% for faculty in list_of_faculties %}
        <option  value="{{ faculty.faculty_id }}">{{faculty.faculty_name}}</option>
        {% endfor %}
    </select>
     


<label>Academic year</label> <input type="date" name="academic_year" />
<input type="submit" value="Vote">
</form>