
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js">
</script>
 
registering in reg_Course
<body ng-app="myapp">

    <form action="faculty_moveto_regcourses" method="post">
        {% csrf_token %}
        Course ID:
    <input  type="text" value="{{regcourse.id}}" name='course_id1' readonly="true"/><br/>
      Course Code:
        <input  type="text" value="{{regcourse.coursecode}}" readonly="true"/><br/>
     Course Name:
         <input  type="text" value="{{regcourse.name}}" readonly="true"/><br/>
    Course Program:
         <input  type="text" value="{{regcourse.program}}" readonly="true"/><br/>
    Select Faculty:
         <select data-ng-model="faculty_id1" data-ng-controller="selectcontroller" name="faculty_id">
        {%for faculty  in regcourse.listoffaculties%}
            <option  value="{{faculty.id}}">{{faculty.name}}</option>
        {%endfor%}
        </select><br/>
    Select start time :
        <input type="date" name="startdate"/>
    Select end time :
        <input type="date" name="enddate"/>
        <input type="submit" value="Push to reg course"/>
    </form>
</body>
</html>