<h2>List of Courses</h2>
<div ng-init='courselists={{courselist}}'>
{%verbatim%}
{{searchlabel}}
     <input type="text" ng-model="coursename"/>
    <table>
    <thead>
    <th>Course Code</th>
    <th>Name</th>
    <th>Program</th>
    <th>Department</th>
    </thead>
    <tr data-ng-repeat="courses in courselists|filter:coursename">
        <td>{{courses.coursecode}}</td>
        <td>{{courses.coursename}}</td>
        <td>{{courses.program}}</td>
        <td>{{courses.department}}</td>
    </tr>
    </table>
        </div>
{%endverbatim%}
