<div class="col-md-4">
</div>
<div class="col-md-4">
<h1>DMange Statistics</h1>
<h3>
<div>{{studentsadded}} students were added in the last day. 
</div>
    </p>
    <div>
    {{facultiesadded}} faculties were added in the last day.
</div>
    </p>
    <div>
        {{staffsadded }} staffs were added in the last day.
</div>
    </p>
    <div>
        {{totalcoursecount}} courses are available.
</div>
    </p>
    <div>
    
        {{regcoursecount}} Courses are available for registration.
</div>
        </h3>
</div>
<div class="col-md-4">
</div>