<h2>List of Departments</h2>
<div class="col-md-1"></div>
<div class="col-md-10">
<div  ng-init='stafflists={{stafflist}}'>
{%verbatim%}
{{searchlabel}}
     <input type="text" ng-model="staffname"/>
    <table class="table table-hover">
    <thead class="thead-inverse">
    <th>Name</th>
    <th>Department</th>
    <th>Username</th>
    </thead>
    <tr data-ng-repeat="staffs in stafflists|filter:staffname">
        <td>{{staffs.staffname}}</td>
        <td>{{staffs.department}}</td>
        <td>{{staffs.username}}</td>
    </tr>
    </table>
        </div>
{%endverbatim%}
    </div>
<div class="col-md-1"></div>