<<table>
 <tr>
   <th>Course Code</th>
   <th>Course Start Time</th>
   <th>Course end Time</th>
   <th>Course Name</th>
   <th>Course Faculty name</th>
 </tr>{%for courses  in courselist%}
<tr>
    <thead>
    
    </thead>
    <td>
    {{courses.id}}
    </td>
    <td>
    {{courses.start}}
    </td>
    <td>
    {{courses.end}}
    </td>
    <td>
    {{courses.courseid_id}}
    </td>
    <td>
    {{courses.facultyid_id}}
    </td>
    <td>
    <a href="student_register_course?courseid={{courses.id}}">Register</a>
    </td>
</tr>
{%endfor%}
</table>

