<h2>List of Available Courses</h2>
<div  ng-init='regcourselists={{courselist}}'>
<form>
    {% csrf_token %}
</p>{{searchlabel}}
{%verbatim%}
     <input type="text" ng-model="regcoursename"/>
    <table id="regcoursetable" class="table table-hover">
    <thead class="thead thead-inverse">
    <th>Course Id</th>
   <th>Course Code</th>
   <th>Course Start Time</th>
   <th>Course end Time</th>
   <th>Course Name</th>
   <th>Course Faculty name</th>
    <th>Course Department name</th>
    </thead>
     <tr data-ng-repeat="regcourses in regcourselists|filter:regcoursename">
        <td><input type="checkbox"
                    ng-model="regcourses.selected"
                   />
        {{regcourses.id}}</td>
    <td>
    {{regcourses.coursecode}}
    </td>
   
    <td>
    {{regcourses.start}}
    </td>
    <td>
    {{regcourses.end}}
    </td>
    <td>
    {{regcourses.coursename}}
    </td>
    <td>
    {{regcourses.facultyname}}
    </td>
    <td>
    {{regcourses.departmentname}}
    </td>
</tr>
</table>
Array {{regCourseNameArray}}
<input type="hidden" name="registeredcourselist" value=" {{regcourseNameArray}}"/>
<br>
<input type="submit"  class="btn btn-primary" ng-click="regcoursesave()" />
</form>
{%endverbatim%}
